<app-menu></app-menu>
<section class="container">
    <div class="botones d-flex justify-content-between">
        <button class="btn btn-primary btn-sm" (click)="beforePage()" [disabled]="paginaActual == 1">Anterior</button>
        <button class="btn btn-primary btn-sm" (click)="nextPage()" [disabled]="paginaActual == 4">Siguiente</button>
      </div>
          <ul class="row">
        <li *ngFor="let planeta of planetas" class="col-xl-4 col-lg-4">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{planeta.name}}</h5>
                  <p class="card-text">
                    <span class="title" *ngIf="planeta.gente.length > 0">Personajes residentes:</span>
                        <span *ngFor="let persona of planeta.gente">
                            <ul>
                                <li>
                                    {{persona.name}}
                                </li>
                            </ul>
                        </span>
                    <span class="title" *ngIf="planeta.peli.length > 0" >Peliculas grabadas:</span>
                    <span *ngFor="let pelicula of planeta.peli">
                        <ul>
                            <li>
                                {{pelicula.title}}
                            </li>
                        </ul>
                    </span>
                  </p>
                  <!-- <a routerLink="/personajes" class="btn btn-primary boton">Personajes</a>
                  <a routerLink="/Planetas" class="btn btn-primary">Planetas</a> -->
                </div>
              </div>
        </li>
    </ul>
  </section>
  <app-footer></app-footer>