<nav class="container-fluid">
        <ul class="row justify-content-center">
            <a routerLink="/peliculas">
                <li>Peliculas</li>
            </a>
            <a routerLink="/personajes">
                <li>Personajes</li>
            </a>
            <a routerLink="/planetas">
                <li>Planetas</li>
            </a>
            <a routerLink="/especies">
                <li>Especies</li>
            </a>
            <a routerLink="/naves">
                <li>Naves</li>
            </a>
            <a routerLink="/vehiculos">
                <li>Vehiculos</li>
            </a>
        </ul>
    </nav>
